$base-font-family: 'Roboto', sans-serif;

// colors

$white-color: #fff;
$text-color:  #666;
$gray-color: #f5f5f5;
$border-color: #ddd;


// size

$base-icon-size: 24px;
$base-font-size: 15px;
$base-font-weight: 400;
$base-padding: 15px;
